{% extends "base.html" %}

{% block title %}Edit recipe{% endblock %}

{% block content %}
<p class="small">You are now in edit mode. Click the eye to go back to view mode.</p>
<button hx-get="/recipes/view/{{recipe.id}}" hx-target="body" class="emoji-button">
    <span class="emoji-on-button">👁️</span>
</button>

<div id="recipe-title">
    <h2 class="recipe-title">{{ recipe.name }}</h2>
    <button hx-get="/recipes/title-editor/{{ recipe.id }}" hx-target="#recipe-title" hx-swap="innerHTML"
        class="emoji-button">
        <span class="emoji-on-button">✏️</span>
    </button>
</div>

<h4>Ingredients</h4>
{% include "partials/edit-ingredient-list.html" %}

<h4>Description</h4>
<div id="recipe-desc">
    <button hx-get="/recipes/desc-editor/{{ recipe.id }}" hx-target="#recipe-desc" hx-swap="innerHTML" class="emoji-button">
        <span class="emoji-on-button">✏️</span>
    </button>
    <p>{{ recipe.description }}</p>
</div>

<!-- To do: add switches to set private/public and enabled/disabled -->

<hr />
<a hx-get="/recipes/delete/{{recipe.id}}" hx-target="#delete-confirmation" hx-swap="innerHTML" class="emoji-button">
    <span class="emoji-on-button">🗑️</span>
</a>
<div id="delete-confirmation"></div>

{% endblock %}