{% extends "base.html" %}

{% block title %}Weekmenu{% endblock %}

{% block content %}
    <h1>Recipe Search</h1>
    <input class="recipe-search" type="search" name="search" placeholder="Search for recipes" hx-get="/recipes/search"
        hx-trigger="keyup changed delay:200ms" hx-target="#search-results" hx-swap="innerHTML">
    
    <div class="recipe-search-wrapper">
        <div id="search-results" class="search-results"></div>
        <div id="recipe-detail" class="recipe-detail"></div>
    </div>
{% endblock %}