<div id="edit-ingredient-{{ ingredient.id }}" class="row">
    <button hx-get="/recipes/{{ recipe_id }}/ingredients/{{ ingredient.id }}/edit"
        hx-target="#edit-ingredient-{{ ingredient.id }}" hx-swap="innerHTML" class="btn btn--icon">✏️</button>
    <button hx-delete="/recipes/{{ recipe_id }}/ingredients/{{ ingredient.id }}"
        hx-target="#edit-ingredient-{{ ingredient.id }}" hx-swap="delete" class="btn btn--icon">🗑️</button>
    <span>{{ ingredient.quantity }} {{ ingredient.unit.abbrev }} {{ ingredient.ingredient.name }}</span>
</div>
{% if messages %}
<div class="notices">
    {% for message in messages %}
    <p class="notice">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
