{% from "partials/_field_macros.html" import editable_display %}
{% call editable_display("recipe-image", base_path ~ "/recipes/image-editor/" ~ recipe.id, t('recipe.edit.action.edit_image'), t('recipe.edit.aria.edit_image'), "recipe-image", show_warnings=true) %}
{% if recipe.image_url %}
<img src="{{ recipe.image_url }}" alt="" class="recipe-image" loading="lazy">
<p class="recipe-image-url">{{ recipe.image_url }}</p>
{% else %}
<p class="search-placeholder">{{ t('recipe.edit.image_none') }}</p>
{% endif %}
{% endcall %}
