<div class="field" id="recipe-status-controls">
    <label>Recipe status</label>
    <div class="toggle-group">
        <form hx-post="/recipes/{{ recipe.id }}/toggle-private" hx-trigger="change" hx-target="#recipe-status-controls"
            hx-swap="outerHTML">
            <label class="toggle">
                <span>Public recipe</span>
                <span class="switch">
                    <input type="checkbox" name="private" value="true" {% if not recipe.private %}checked{% endif %}>
                    <span class="switch-slider"></span>
                </span>
            </label>
        </form>
        <form hx-post="/recipes/{{ recipe.id }}/toggle-enabled" hx-trigger="change" hx-target="#recipe-status-controls"
            hx-swap="outerHTML">
            <label class="toggle">
                <span>Enabled recipe</span>
                <span class="switch">
                    <input type="checkbox" name="enabled" value="true" {% if recipe.enabled %}checked{% endif %}>
                    <span class="switch-slider"></span>
                </span>
            </label>
        </form>
    </div>
</div>
