body {
    font-family: sans-serif;
    margin: 0;
    background-color: #333;
    color: #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #ddd;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
}


.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 0.5rem;
}

.nav-button {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #007bff;
    color: #fff;
}

.container {
    padding: 1rem;
}
