body {
    font-family: sans-serif;
    margin: 0;
    background-color: #333;
    color: #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #ddd;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 0.5rem;
}

.nav-button {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #007bff;
    color: #fff;
}

.recipe-button {
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    margin: 0.1rem;
    padding: 5px;
    width: 100%;
}

.selected-recipe-button {
    background-color: #007bff;
    color: black;
}

.recipe-search {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

div.search-results {
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    vertical-align: text-top;
    width: 360px;
}

div.recipe-detail {
    display: inline-block;
    padding: 5px;
    vertical-align: text-top;
}

.container {
    margin: 0 15%;
    padding: 1rem;
}

.recipe-search-wrapper {
    display: flex;
    width: 100%;
}

.add-recipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #444;
    border-radius: 8px;
}

.page-title {
    text-align: center;
    margin-bottom: 2rem;
}

.recipe-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #666;
    background-color: #555;
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
}

.ingredient-input {
    display: flex;
    margin-bottom: 0.5rem;
}

.btn-add-ingredient,
.btn-submit {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn-add-ingredient {
    background-color: #007bff;
    color: white;
    align-self: flex-start;
}

.btn-submit {
    background-color: #28a745;
    color: white;
    margin-top: 1rem;
}

.response-message {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}
